
<ion-header>
  <ion-navbar>


  </ion-navbar>
  <ion-searchbar (ionInput)="getItems($event)" (ionCancel)="onCancel($event)"placeholder="Pesquisar"> </ion-searchbar>
</ion-header>

<ion-content>

<ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
</ion-refresher>

<ion-list >

  <ion-item-sliding *ngFor="let user of users" >
    <ion-item>
      <ion-avatar item-start>
        <img src="https://openclipart.org/image/2400px/svg_to_png/280989/user-icon.png" style="width: 50px; height: 50px; ">

      </ion-avatar>
      <h2 (click)="rota(user)">{{user.nome}}</h2>
      <h4 style="color:#f1c40f;"><ion-icon name="star"></ion-icon><b>{{user.profissao}}</b></h4>
      <p>{{user.email}}</p>
      <p>{{user.telefone}}</p>

    </ion-item>
    <ion-item-options side="left">
      <a ion-button color="primary" href="tel://{{user.telefone}}">
        <ion-icon name="call"></ion-icon>
        Ligar
      </a>
      <a ion-button color="secondary" href="https://api.whatsapp.com/send?l=pt_BR&phone={{user.telefone}}">
         <ion-icon name="logo-whatsapp"></ion-icon>
        Whatsapp
      </a>
    </ion-item-options>
    <ion-item-options side="right">
      <button ion-button color="danger" (click)="deletarPerfil(user)">
        <ion-icon name="trash"></ion-icon>
        Excluir
      </button>
      <button ion-button color="primary" (click)="editarPerfil(user)">
        <ion-icon name="create"></ion-icon>
        Editar
      </button>
    </ion-item-options>



  </ion-item-sliding>
</ion-list>
<ion-fab top right edge>
    <button ion-fab mini (click)="onCancel()"><ion-icon id="refresh" name="refresh"></ion-icon></button>
</ion-fab>

</ion-content>
