page-home {
  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  .toolbar-background-md{
   background: linear-gradient(to right, rgba(249,236,50,1) 0%, rgba(238,42,124,1) 100%);
   box-shadow: 0;
  }
  .searchbar-md{
    background: linear-gradient(to right, rgba(249,236,50,1) 0%, rgba(238,42,124,1) 100%);
  }
  .searchbar-md .searchbar-input {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.41);
    text-align: center;
    border-radius: 50px;
    -webkit-box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
    box-shadow: 0 0px 0px 0 rgba(0, 0, 0, 0.14), 0 0px 0px 0px rgba(0, 0, 0, 0.2), 0 0px 0px 0 rgba(0, 0, 0, 0.12);
  }


  #refresh{
    animation:spin 2s linear infinite;
  }
}
